html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: lightpink;
}
main{
  margin: 20px;
  padding-left: 25px;
  padding-right: 25px;
 }
.text-centered {
  text-align: center;
}
p{
  color:blueviolet;
  font-size:20px;
}
h3{padding: 30px;
padding-bottom: 0px;}

li { font:san-serif;}
footer{padding-left: 30px;}

a:link    { color: purple;  }
a:visited { color: yellow;   }
a:hover   { color: greenyellow; }
a:active  { color: red;  }