html {
  height: 100%;
  width: 75%;
  font-family: sans-serif;
  background-color: lightpink;
}
.text-centered {
  text-align: center;
}

img{
  margin-right:auto
  margin-left:auto
  size: 100px;
}

li { font:arial;}

a:link    { color: purple;  }
a:visited { color: yellow;   }
a:hover   { color: rgba(0, 128, 96, 0.266); }
a:active  { color: red;  }